<form name="campusForm">
  <div class="form-group">
    <!-- Nome -->
    <label for='nome'> Nome: </label>
    <input type='text' name='nome' class="form-control" ng-model="campus.nome" ng-minlength="3" ng-maxlength="25">
    <div>
      <div ng-show="campusForm.nome.$error.minlength && campusForm.nome.$dirty" class="alert alert-danger">
        Por favor, o Nome não tem o tamanho mínimo válido!
      </div>
      <div ng-show="campusForm.nome.$error.maxlength && campusForm.nome.$dirty" class="alert alert-danger">
        Por favor, o Nome não tem o tamanho máximo válido!
      </div>
    </div>
  </div>

  <!-- Botões -->
  <button type='reset' ng-click="limparBusca()" name='limpar' class="btn btn-secondary btn-lg btn-block">
    Limpar
  </button>
  <button ng-click="listar()" class="btn btn-dark btn-lg btn-block">
    Listar
  </button>
</form>


<div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr align="center">
        <th scope="col">Código</th>
        <th scope="col">Sigla</th>
        <th scope="col">Cidade</th>
      </tr>
    </thead>
    <tbody align="center">
      <tr ng-repeat="campus in campi">
        <td scope="row">{{campus.id_campus}}</td>
        <td scope="row">{{campus.sigla}}</td>
        <td scope="row">{{campus.cidade}}</td>

      </tr>
    </tbody>
  </table>
</div>
